<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input data here</title>
</head>
<body>
    {% extends "bootstrap/base.html" %}
    {% block content %}
    <form action ="{{ url_for('post')}}" method = "POST">
        <h3>user information</h3>
        
        Name<br>
        <input class="form-control mr-sm2" type="text" name="nm" ><br>

        Address<br>
        <input class="form-control mr-sm2" type="text" name="add"/><br>
        

        <input type="submit" value="Submit" class="btn btn-primary col-md4">
        {% endblock %}
    </form>

</body>
</html>